<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign In</title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Edit Bet</h1> 
 <form action="/betBoard/<%= user._id %>/<%= bet._id %>?_method=PUT" method="POST">
		<select name="coinSearch" id="coinSearch">
			<% symbols.forEach(symbol => { %>
				<option value="<%= symbol %>" <%= symbol === coinSearch ? 'selected' : '' %>><%= symbol %></option>
			<% }); %>
		</select>
    <select name="betType">
      <option value="up">Up</option>
      <option value="down">Down</option>
    </select>
    <label for="wager">Wager</label>
    <input type="text" name="wager" id="wager" required />
    <select name="betLength">
      <option value="1">1 Hour</option>
      <option value="4">4 Hour</option>
      <option value="8">8 Hour</option>
    </select>
    <button type="submit">Update Bet</button>

  </form>
</body>

</html>